@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:wght@400;700&display=swap');



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

  background: rgb(51, 51, 51);
  background: linear-gradient(45deg, rgba(51, 51, 51, 1) 29%, rgba(56, 56, 56, 1) 35%, rgba(63, 63, 63, 1) 40%, rgba(73, 73, 73, 1) 44%, rgba(79, 79, 79, 1) 48%, rgba(86, 86, 86, 1) 52%, rgba(92, 92, 92, 1) 56%, rgba(98, 98, 98, 1) 59%, rgba(106, 106, 106, 1) 63%, rgba(116, 116, 116, 1) 66%, rgba(130, 130, 130, 1) 70%, rgba(137, 137, 137, 1) 72%, rgba(150, 150, 150, 1) 76%, rgba(163, 163, 163, 1) 79%, rgba(185, 185, 185, 1) 84%, rgba(255, 255, 255, 1) 100%);



  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
}

*::selection {
  background-color: #089FE0;
}
