.form_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    background: #FFFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 45px 75px;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.container div{
    background-color: red;
    
}

.container h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #333333;
}

.container input {
    border: 0;
    padding: 9px;
    border-radius: 12px;
    border: 1px solid black;
    background: #f5f5f5;
    border-radius: 5px;
}

.container input::placeholder {
    color: rgb(95, 95, 95);
}

.name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name input {
    max-width: 100px;
}



.lower_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: inherit;

}

.lower_input input {
    width: 100%;

}

.container button {
    border: 0;
    padding: 15px 45px;
    border-radius: 15px;
    cursor: pointer;


}